<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.booboomx.aninationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.activity.AnimationActivity"
            android:label="@string/title_activity_animation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Ui.activity.TypeEvaluatorActivity">
        </activity>
        <activity android:name=".Ui.activity.InterpolatorActivity">
        </activity>
        <activity android:name=".Ui.activity.AnimatorSetActivity">
        </activity>
        <activity android:name=".Ui.activity.RotationActivity">
        </activity>
        <activity android:name=".Ui.activity.BezierActivity">
        </activity>
        <activity android:name=".Ui.activity.ShoppingCarActivity">
        </activity>
        <activity android:name=".Ui.activity.RubbingActivity">
        </activity>
        <activity android:name=".Ui.activity.RetrofitCodeAnalyzeActivity">
        </activity>
    </application>

</manifest>